{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block meta %}
<title>Babadu | Registrasi</title>
{% endblock meta %}

{% block content %}

<section id="authentication-login" class="h-screen w-full xl:px-20 lg:px-10 sm:px-2 px-4 py-16 text-white">
    <div class="h-full flex flex-col items-center justify-center mt-4">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4 border border-shark-400 rounded-lg">
                <div class="flex flex-row items-center justify-start gap-4">
                    <div class="font-semibold text-lg p-4 bg-primary-500 rounded-md">
                        B01
                    </div>
                    <div class="text-start text-shark-400">
                        <a href="/">
                            <span
                                class="text-white font-semibold hover:text-primary-500 transition cursor-pointer">Babadu.b01</span>
                        </a>
                        dibuat untuk memenuhi tugas kelompok pada mata kuliah Basis Data.
                    </div>
                </div>
            </div>
        </section>
        <div class="w-full md:w-4/6 my-6 mx-auto h-auto p-4 border border-shark-500 rounded-lg">
            <div class="flex flex-col gap-4">
                <section id="register-header" class="space-y-2">
                    <div class="text-2xl font-semibold text-primary-400 text-center">
                        Register Form
                    </div>
                    <div class="grid grid-cols-3 gap-x-2 text-center text-shark-200">
                        <div>
                            <button id="navigate-form-atlet"
                                class="navigate-form-button text-primary-500 underline hover:text-shark-200 hover:underline cursor-pointer transition">
                                Atlet
                            </button>
                        </div>
                        <div>
                            <button id="navigate-form-pelatih"
                                class="navigate-form-button hover:text-shark-200 hover:underline cursor-pointer transition">
                                Pelatih
                            </button>
                        </div>
                        <div>
                            <button id="navigate-form-umpire"
                                class="navigate-form-button hover:text-shark-200 hover:underline cursor-pointer transition">
                                Umpire
                            </button>
                        </div>
                    </div>
                    <hr class="border-shark-400">
                </section>

                <form id="register-form-atlet" method="POST" action="" class="flex flex-col gap-4">
                    <section id="register-atlet-field" class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Nama
                            </div>
                            <div>
                                {{atlet_form.nama | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Email
                            </div>
                            <div>
                                {{atlet_form.email | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Negara
                            </div>
                            <div>
                                {{atlet_form.negara | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Play status
                            </div>
                            <div>
                                {{atlet_form.play | addclass:"text-shark-400 pl-2 border-shark-400"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Tinggi badan
                            </div>
                            <div>
                                {{atlet_form.tinggi_badan | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Jenis kelamin
                            </div>
                            <div>
                                {{atlet_form.jenis_kelamin | addclass:"text-shark-400 pl-2 border-shark-400"}}
                            </div>
                        </div>
                    </section>
                    <section id="auth-login-submit" class="space-y-1 mt-2">
                        <button
                            class="bg-primary-500 w-full py-2 rounded-lg hover:bg-primary-400 transition cursor-pointer text-white font-semibold"
                            type="submit" value="Login">
                            Registrasi sebagai Atlet
                        </button>
                        <div class="grid grid-cols-9 items-center text-shark-400">
                            <hr class="border-shark-400 col-span-4">
                            <div class="text-xs text-center col-span-1">
                                Atau
                            </div>
                            <hr class="border-shark-400 col-span-4">
                        </div>
                        <h1 class="text-shark-200 text-base text-center">Sudah memiliki membership Babadu?
                            <a class="text-primary-400 hover:underline transition"
                                href="{% url 'authentication:login' %}">
                                Masuk
                            </a>
                        </h1>
                    </section>
                </form>

                <form id="register-form-pelatih" method="POST" action="">
                    <section id="register-pelatih-field" class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Nama
                            </div>
                            <div>
                               {{pelatih_form.nama | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Email
                            </div>
                            <div>
                               {{pelatih_form.email | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Negara
                            </div>
                            <div>
                                {{pelatih_form.negara | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Kategori
                            </div>
                            <div>
                               {{pelatih_form.kategori | addclass:"text-shark-400 pl-2 border-shark-400"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Tanggal mulai
                            </div>
                            <div>
                               {{pelatih_form.tanggal_mulai | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                    </section>
                    <section id="auth-login-submit" class="space-y-1 mt-6">
                        <button
                            class="bg-primary-500 w-full py-2 rounded-lg hover:bg-primary-400 transition cursor-pointer text-white font-semibold"
                            type="submit" value="Login">
                            Registrasi sebagai Pelatih
                        </button>
                        <div class="grid grid-cols-9 items-center text-shark-400">
                            <hr class="border-shark-400 col-span-4">
                            <div class="text-xs text-center col-span-1">
                                Atau
                            </div>
                            <hr class="border-shark-400 col-span-4">
                        </div>
                        <h1 class="text-shark-200 text-base text-center">Sudah memiliki membership Babadu?
                            <a class="text-primary-400 hover:underline transition"
                                href="{% url 'authentication:login' %}">
                                Masuk
                            </a>
                        </h1>
                    </section>
                </form>

                <form id="register-form-umpire" method="POST" action="">
                    <section id="register-atlet-field" class="flex flex-col gap-4">
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Nama
                            </div>
                            <div>
                                {{umpire_form.nama | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Email
                            </div>
                            <div>
                                {{umpire_form.email | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <div class="text-white font-semibold">
                                Negara
                            </div>
                            <div>
                                {{umpire_form.negara | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                            </div>
                        </div>
                    </section>
                    <section id="auth-login-submit" class="space-y-1 mt-6">
                        <button
                            class="bg-primary-500 w-full py-2 rounded-lg hover:bg-primary-400 transition cursor-pointer text-white font-semibold"
                            type="submit" value="Login">
                            Registrasi sebagai Umpire
                        </button>
                        <div class="grid grid-cols-9 items-center text-shark-400">
                            <hr class="border-shark-400 col-span-4">
                            <div class="text-xs text-center col-span-1">
                                Atau
                            </div>
                            <hr class="border-shark-400 col-span-4">
                        </div>
                        <h1 class="text-shark-200 text-base text-center">Sudah memiliki membership Babadu?
                            <a class="text-primary-400 hover:underline transition"
                                href="{% url 'authentication:login' %}">
                                Masuk
                            </a>
                        </h1>
                    </section>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#register-form-atlet').show();
        $('#register-form-pelatih').hide();
        $('#register-form-umpire').hide();

        $('.navigate-form-button').click(function () {
            $('.navigate-form-button').removeClass('text-primary-500 underline');
            $(this).addClass('text-primary-500 underline');
        });

        $('#navigate-form-atlet').click(function () {
            $('#register-form-atlet').show();
            $('#register-form-pelatih').hide();
            $('#register-form-umpire').hide();
        });

        $('#navigate-form-pelatih').click(function () {
            $('#register-form-pelatih').show();
            $('#register-form-atlet').hide();
            $('#register-form-umpire').hide();

        });

        $('#navigate-form-umpire').click(function () {
            $('#register-form-umpire').show();
            $('#register-form-pelatih').hide();
            $('#register-form-atlet').hide();
        });
    });

</script>

{% endblock content %}