<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'midnight': '#18181b',
                        'primary': '#9bfa18',
                        'danger': '#ff2643',
                    }
                },
            }
        }
    </script>
    {% block meta %}
    {% endblock meta %}
</head>

<body class="bg-midnight">
    {% include 'navbar.html' %}
    <section id="body-wrapper" class="max-w-7xl mx-auto pt-24">
        {% block content %}
        {% endblock content %}
    </section>
    {% include 'footer.html' %}
</body>

</html>