{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu | B01</title>
{% endblock meta %}

{% block content %}

<section id="authentication" class="h-screen w-full xl:px-20 lg:px-10 sm:px-2 px-4">
    <div class="h-full flex flex-col gap-8 items-center justify-center text-white text-center">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4 border border-shark-900 rounded-lg">
                <div class="flex flex-row items-center justify-start gap-4">
                    <div class="font-semibold text-lg p-4 bg-primary-500 rounded-md">
                        B01
                    </div>
                    <div class="text-start text-shark-400">
                        <span class="text-white font-semibold">Babadu.b01</span>
                        dibuat untuk memenuhi tugas kelompok pada mata kuliah Basis Data.
                    </div>
                </div>
            </div>
        </section>
        <section id="header" class="space-y-2">
            <div class="text-white font-semibold space-y-2">
                <div class="text-5xl">Babadu</div>
                <div class="text-2xl">Badan Badminton Dunia</div>
            </div>
            <div class="text-xl text-shark-400 max-w-md">
                Organisasi yang menaungi pertandingan utama badminton di level internasional
            </div>
        </section>
        <section id="buttons" class="w-full">
            <div class="max-w-lg mx-auto text-white text-lg font-semibold">
                <a href="{% url 'authentication:login' %}">
                    <button
                        class="bg-primary-500 w-full py-2 rounded-lg hover:bg-primary-400 transition cursor-pointer">
                        Login
                    </button>
                </a>
                <div class="grid grid-cols-7 items-center text-shark-400 my-2">
                    <hr class="border-shark-400 col-span-3">
                    <div class="text-xs col-span-1">
                        Atau
                    </div>
                    <hr class="border-shark-400 col-span-3">
                </div>
                <a href="{% url 'authentication:register' %}">
                    <button
                        class="bg-primary-500 w-full py-2 rounded-lg hover:bg-primary-400 transition cursor-pointer">
                        Register
                    </button>
                </a>
            </div>
        </section>
        <section class="h-4" />
    </div>
</section>

{% endblock content %}