<nav class="fixed w-full z-10 border-b border-shark-900 bg-midnight">
    <div class="max-w-6xl mx-auto py-4">
        <div class="flex flex-row justify-between items-center xl:px-20 lg:px-10 sm:px-2 px-4">
            <section id="logo" class="font-semibold text-xl text-white">
                <a href="/">
                    Babadu
                </a>
            </section>
            <section id="navbar-menus" class="flex flex-row gap-6 text-shark-400">
                <div class="cursor-pointer hover:text-primary-400 transition">
                    <a href="">
                        <button class="navbar-menu dashboard">
                            Dashboard
                        </button>
                    </a>
                </div>
                <div class="cursor-pointer hover:text-primary-400 transition">
                    <a href="">
                        <button class="navbar-menu daftar-atlet">
                            Daftar Atlet
                        </button>
                    </a>
                </div>
                <div class="cursor-pointer hover:text-primary-400 transition">
                    <a href="{% url 'event:main' %}">
                        <button class="navbar-menu event">
                            Lihat Event
                        </button>
                    </a>
                </div>
                <div class="cursor-pointer hover:text-primary-400 transition">
                    <a href="{% url 'hasil-pertandingan:main' %}">
                        <button class="navbar-menu hasil-pertandingan">
                            Hasil Pertandingan
                        </button>
                    </a>
                </div>
                <div class="cursor-pointer hover:text-danger transition">
                    <a href="" class="navbar-menu">
                        Logout
                    </a>
                </div>
            </section>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        var currentPath = window.location.pathname.split('/')[1];
        $('.navbar-menu').removeClass('text-primary-500');
        $(`.${currentPath}`).addClass('text-primary-500');
    });

</script>