{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block meta %}
<title>Babadu | Tes Kualifikasi</title>
{% endblock meta %}

{% block content %}

<section id="authentication" class="h-screen w-full xl:px-20 lg:px-10 sm:px-2 px-4">
    <div class="h-full flex flex-col gap-8 items-center justify-center text-white">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4 border border-shark-400 rounded-lg">
                <div class="flex flex-row items-center justify-start gap-4">
                    <div class="font-semibold text-lg p-4 bg-primary-500 rounded-md">
                        B01
                    </div>
                    <div class="text-start text-shark-400">
                        <a href="/">
                            <span
                                class="text-white font-semibold hover:text-primary-500 transition cursor-pointer">Babadu.b01</span>
                        </a>
                        dibuat untuk memenuhi tugas kelompok pada mata kuliah Basis Data.
                    </div>
                </div>
            </div>
        </section>
        <div class="w-full md:w-4/6 my-6 mx-auto h-auto p-4 border border-shark-500 rounded-lg">
            <form method="POST" action="" class="w-full flex flex-col gap-4">
                <div class="text-2xl font-semibold text-primary-400 text-center">
                    FORM DATA KUALIFIKASI
                </div>
                <hr class="border-shark-400">
                <section id="data-kualifikasi-field" class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <div class="text-white font-semibold">
                            Nomor Batch
                        </div>
                        <div>
                            {{data_kualifikasi_form.nomor_batch | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="text-white font-semibold">
                            Tempat Pelaksanaan
                        </div>
                        <div>
                            {{data_kualifikasi_form.tempat_pelaksanaan | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="text-white font-semibold">
                            Tanggal Pelaksanaan
                        </div>
                        <div>
                            {{data_kualifikasi_form.tanggal_pelaksanaan | addclass:"w-full px-4 py-2 border border-shark-500 bg-transparent outline-none focus:border-primary-400 rounded-md transition text-white"}}
                        </div>
                    </div>
                </section>
                <h1 class="text-center">
                    <a class="hover:text-primary-500 hover:underline transition"
                        href="{% url 'tes-kualifikasi:pertanyaan-kualifikasi' %}">
                        NEXT
                    </a>
                </h1>
            </form>
        </div>
    </div>
</section>

{% endblock content %}