{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu | Lihat Atlet</title>
{% endblock meta %}

{% block content %}

<section id="authentication" class="h-screen w-full xl:px-20 lg:px-10 sm:px-2 px-4">
    <div class="h-full flex flex-col gap-8 items-center justify-center text-white">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4 border border-shark-400 rounded-lg">
                <div class="flex flex-row items-center justify-start gap-4">
                    <div class="font-semibold text-lg p-4 bg-primary-500 rounded-md">
                        B01
                    </div>
                    <div class="text-start text-shark-400">
                        <a href="/">
                            <span
                                class="text-white font-semibold hover:text-primary-500 transition cursor-pointer">Babadu.b01</span>
                        </a>
                        dibuat untuk memenuhi tugas kelompok pada mata kuliah Basis Data.
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-4 border border-shark-400 rounded-lg overflow-hidden flex flex-col w-full">
            <section class="space-y-2">
                <div class="text-xl text-center font-semibold pb-2 text-primary-500">
                    LIST ATLET
                </div>
                <hr class="border-shark-400">
            </section>
            <table class="min-w-full text-sm font-light text-center">
                <thead class="border-b font-medium border-shark-400">
                    <tr>
                        <th scope="col" class="px-6 py-4">Nama Atlet</th>
                        <th scope="col" class="px-6 py-4">Email</th>
                        <th scope="col" class="px-6 py-4">World Rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">Anthony Sinisuka Ginting</td>
                        <td class="whitespace-nowrap px-6 py-4">anthony.sukaginting@gmail.com</td>
                        <td class="whitespace-nowrap px-6 py-4">2</td>
                    </tr>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">Jonatan Christie</td>
                        <td class="whitespace-nowrap px-6 py-4">jonathan.christie@gmail.com</td>
                        <td class="whitespace-nowrap px-6 py-4">6</td>
                    </tr>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">Gregoria Mariska Tunjung</td>
                        <td class="whitespace-nowrap px-6 py-4">gregoria.maria@gmail.com</td>
                        <td class="whitespace-nowrap px-6 py-4">10</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</section>

{% endblock content %}