{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Babadu | Event Pertandingan</title>

<Script>

    // Waktu
    var detik = {};
    var menit = {};
    var jam = {};

    function displayTime(id) {
        if (detik[id] == null) {
            detik[id] = 0;
        }

        if (menit[id] == null) {
            menit[id] = 0;
        }

        if (jam[id] == null){
            jam[id] = 0;
        }

        detik[id]++;

        if (detik[id] >= 60) {
            detik[id] = 0;
            menit[id]++;
            if (menit[id] >= 60) {
            menit[id] = 0;
            menit[id]++;
            }
        }

        var stopwatchElement = document.querySelectorAll("#timer");
        if (stopwatchElement == null) {
            return;
        }

        if (stopwatchElement.length > 1) {
            stopwatchElement[0].innerHTML = (jam[id] ? (jam[id] > 9 ? jam[id] : "0" + jam[id]) : "00") + ":" + (menit[id] ? (menit[id] > 9 ? menit[id] : "0" + menit[id]) : "00") + ":" + (detik[id] > 9 ? detik[id] : "0" + detik[id]);
            stopwatchElement[1].innerHTML = (jam[id] ? (jam[id] > 9 ? jam[id] : "0" + jam[id]) : "00") + ":" + (menit[id] ? (menit[id] > 9 ? menit[id] : "0" + menit[id]) : "00") + ":" + (detik[id] > 9 ? detik[id] : "0" + detik[id]);
        }
        stopwatchElement[0].innerHTML = (jam[id] ? (jam[id] > 9 ? jam[id] : "0" + jam[id]) : "00") + ":" + (menit[id] ? (menit[id] > 9 ? menit[id] : "0" + menit[id]) : "00") + ":" + (detik[id] > 9 ? detik[id] : "0" + detik[id]);
    }

    function matchTimer(id) {
        var timerElement = document.getElementById("timer-input");
        if (timerElement == null) {
            return;
        }

        timerElement.value++;
    }
    var stopwatchFunction;
    var timeInSecondsFunction;
    window.onload = function() {
        stopwatchFunction = setInterval(displayTime, 1000, 1);
        timeInSecondsFunction = setInterval(matchTimer, 1000, 1);
    }
</script>
{% endblock meta %}

{% block content %}

<section id="authentication" class="h-full w-full xl:px-20 lg:px-10 sm:px-2 px-4 py-28">
    <div class="h-full flex flex-col gap-8 items-center justify-center text-white">
        <section id="b01" class="w-full">
            <div class="max-w-md mx-auto p-4 border border-shark-400 rounded-lg">
                <div class="flex flex-row items-center justify-start gap-4">
                    <div class="font-semibold text-lg p-4 bg-primary-500 rounded-md">
                        B01
                    </div>
                    <div class="text-start text-shark-400">
                        <a href="/">
                            <span
                                class="text-white font-semibold hover:text-primary-500 transition cursor-pointer">Babadu.b01</span>
                        </a>
                        dibuat untuk memenuhi tugas kelompok pada mata kuliah Basis Data.
                    </div>
                </div>
            </div>
        </section>
        <section class="py-4 border border-shark-400 rounded-lg flex flex-col w-full">
            <section class="space-y-2">
                <div class="text-xl text-center font-semibold">
                    PERTANDINGAN PEREMPAT FINAL
                </div>
                <div class="text-md text-center text-primary-400">
                <p id="timer" class="text-2xl text-center">00:00:00</p>
                </div>
                <hr class="border-shark-400">
            </section>
            <table class="min-w-full text-sm font-light text-center">
                <thead class="border-b font-medium dark:border-neutral-500">
                    <tr>
                        <th scope="col" class="px-6 py-4">Tim 1</th>
                        <th scope="col" class="px-6 py-4">Tim 2</th>
                        <th scope="col" class="px-6 py-4">Skor Tim 1</th>
                        <th scope="col" class="px-6 py-4">Skor Tim 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">A</td>
                        <td class="whitespace-nowrap px-6 py-4">B</td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">1</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">4</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">C</td>
                        <td class="whitespace-nowrap px-6 py-4">D</td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">8</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">4</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">E</td>
                        <td class="whitespace-nowrap px-6 py-4">F</td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">0</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">7</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                        <td class="whitespace-nowrap px-6 py-4">G</td>
                        <td class="whitespace-nowrap px-6 py-4">H</td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">4</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                        <td class="whitespace-nowrap px-6 py-4">
                            <div class="flex flex-row justify-center items-center gap-x-4 text-shark-400">
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8593;</div>
                                <div class="text-white">5</div>
                                <div class="text-lg font-semibold cursor-pointer hover:text-primary-500 ">&#8595;</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <section class="px-4">
                <button
                    class="bg-primary-500 w-full py-2 mt-4 mr-2 rounded-lg hover:bg-primary-400 transition cursor-pointer text-white font-semibold"
                    type="submit" value="Login">
                    NEXT
                </button>
            </section>
        </section>
    </div>
</section>

{% endblock content %}