{% extends 'base.html' %}
{% load static %}
{% load filter %}

{% block meta %}
<title>Babadu | Pertandingan</title>
{% endblock meta %}

{% block content %}

<section id="pertandingan" class="h-screen w-full xl:px-20 lg:px-10 sm:px-2 px-4 py-16 text-white">
    <section class="mt-12">
        <div class="text-2xl text-center font-semibold">
            PERTANDINGAN
        </div>
    </section>
    <section class="mt-12 py-4 border border-shark-400 rounded-lg flex flex-col">
        <section class="space-y-2">
            <div class="text-xl text-center font-semibold">
                PERTANDINGAN PEREMPAT FINAL
            </div>
            <div class="text-md text-center text-primary-400">
                [ 00:00 ]
            </div>
            <hr class="border-shark-400">
        </section>
        <table class="min-w-full text-sm font-light text-center">
            <thead class="border-b font-medium dark:border-neutral-500">
                <tr>
                    <th scope="col" class="px-6 py-4">Tim 1</th>
                    <th scope="col" class="px-6 py-4">Tim 2</th>
                    <th scope="col" class="px-6 py-4">Skor Tim 1</th>
                    <th scope="col" class="px-6 py-4">Skor Tim 2</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                    <td class="whitespace-nowrap px-6 py-4">A</td>
                    <td class="whitespace-nowrap px-6 py-4">B</td>
                    <td class="whitespace-nowrap px-6 py-4">0</td>
                    <td class="whitespace-nowrap px-6 py-4">1</td>
                </tr>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                    <td class="whitespace-nowrap px-6 py-4">C</td>
                    <td class="whitespace-nowrap px-6 py-4">D</td>
                    <td class="whitespace-nowrap px-6 py-4">0</td>
                    <td class="whitespace-nowrap px-6 py-4">1</td>
                </tr>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                    <td class="whitespace-nowrap px-6 py-4">E</td>
                    <td class="whitespace-nowrap px-6 py-4">F</td>
                    <td class="whitespace-nowrap px-6 py-4">0</td>
                    <td class="whitespace-nowrap px-6 py-4">1</td>
                </tr>
                <tr class="border-b transition duration-300 ease-in-out hover:bg-shark-700 border-shark-400">
                    <td class="whitespace-nowrap px-6 py-4">G</td>
                    <td class="whitespace-nowrap px-6 py-4">H</td>
                    <td class="whitespace-nowrap px-6 py-4">0</td>
                    <td class="whitespace-nowrap px-6 py-4">1</td>
                </tr>
            </tbody>
        </table>
        <section class="px-4">
            <button
            class="bg-primary-500 w-full py-2 mt-4 mr-2 rounded-lg hover:bg-primary-400 transition cursor-pointer text-white font-semibold"
            type="submit" value="Login">
            NEXT
        </button>
        </section>
    </section>
</section>

{% endblock content %}